<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
  <meta charset='utf-8'>
  <title>boardList</title>
</head>
<body>
	<div class="text-center">
    <h3>게시판 목록</h3>
    <table class="table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th> <!-- yyyy년 MM 월 dd 일-->
        </tr>
      </thead>
      <tbody>
        <th:block th:each="board : ${boards}">
          <tr>
            <td>[[${board.bno}]]</td>
            <td>[[${board.title}]]</td>
            <td>[[${board.writer}]]</td>
            <!-- #dates라는 날짜 포멧을 활용하자!-->
            <td>[[${#dates.format(board.regdate,"yyyy년MM월dd일")}]]</td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>
  <script>
    
    $('tbody>tr').on('click',
      // 익명함수이자, 콜백함수이자, 이벤트 헨들러이다.
      function(event){
      // tr은 자기 자신을 가리킬수 없어 currentTarget을 사용한다.
      let trTag = event.currentTarget;
      let bno = $(trTag).children().eq(0).text();
      location.href='/boardInfo?bno=' + bno;
    })
  </script>
</body>
</html>