<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
  <meta charset='utf-8'>
  <title></title>
</head>
<body>
  <form th:action="@{empInsert}" method="post">
    <h3>사원 정보 등록</h3>
    <div>
      <lable for="ename">이름</lable>
      <input type="text" id="ename" name="lastName">
    </div>
    <div>
      <lable for="email">이메일</lable>
      <input type="email" id="email" name="email">
    </div>
    <div>
      <lable for="hDate">입사일자</lable>
      <input type="date" id="hDate" name="hireDate">
    </div>
    <div>
      <lable for="job">업무</lable>
      <input type="text" id="job" name="jobId">
    </div>
    <div>
      <lable for="sal">급여</lable>
      <input type="number" step="0.01" min="1" id="sal" name="salary">
    </div>
    <div>
      <button type="submit">저장</button>
    </div>
  </form>
</body>
</html>