<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- xml 방식으로 bean 등록하기 -->
	<beans:bean id="tv" class="com.yedam.app.spring.SpringTV"/>
	<!-- DI XML 방식 -->
	<!-- 어노테이션 방식을 위해서 제거하였다. -->

	<!--  DI 어노테이션방식
	 지정된 페키지의 클래스들에서 빈으로 등록할 대상들을 찾는다.
	 해당 패키지 클래스에 @Component 어노테이션이 있다면 빈 등록 대상이 된다.-->
	<context:component-scan base-package="com.yedam.app.spring.anotation" />
</beans>