<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8'>
  <meta name="ctxPath" th:value="${contextPath}">
  <title>deptList</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <div>
    <h3>전체 부서조회</h3>
    <table>
      <thead>
        <tr>
          <th>부서번호</th>
          <th>부서명</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="info : ${depts}">
          <tr>
            <td>[[${info.departmentId}]]</td>
            <td>[[${info.departmentName}]]</td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>
  <script>
  	const context = $('meta[name="ctxPath"]').attr('value');
  	$('tbody > tr').on('click',function(event){
  		let trTag = event.currentTarget;
  		let id = $(trTag).children().eq(0).text();
  		let url = context + '/deptInfo?departmentId=' + id;
  		location.href=url;
  	});
  </script>
</body>
</html>