<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8'>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <form name="updateForm" th:object="${dept}">
    <h3>사원 정보 수정</h3>
    <div>
      <lable for="id">부서번호</lable>
      <input type="number" id="id" th:field="*{departmentId}" readonly>
    </div>
    <div>
      <lable for="name">이름</lable>
      <input type="text" id="name" th:field="*{departmentName}">
    </div>
    <div>
      <lable for="managerId">이메일</lable>
      <input type="number" id="managerId" th:field="*{managerId}">
    </div>
    <div>
      <lable for="locationId">입사일자</lable>
      <input type="number" id="locationId" th:field="*{locationId}" >
    </div>
    <div>
      <button type="button" id="updateBtn">저장</button>
    </div>
  </form>
  <script>
    $('#updateBtn').on('click', updateAjax);

    function updateAjax(event){
      // 1) 보낼 데이터 가져오기
      let dataObj = getFormData();
      // 2) AJAX 요청
      $.ajax("deptUpdate",{
        type : 'post', // method
        // 쿼리 스트링 방식
        data : dataObj // 객체 => QueryString 
      })
      .done((data)=>{
        if(data.result){
          alert("성공적으로 수정되었습니다.");
        }else{
          alert("수정되지 않았습니다.");
        }
      })
      .fail((err)=>console.log(err));
    }

    // form 태그로부터 정보를 가져온다.(배열 방식으로)
    function getFormData(){
      let formAry = $('form[name="updateForm"]').serializeArray();

      // 배열을 객체로 바꾸기
      let formObj = {};
      $.each(formAry, function(idx,tag){
        formObj[tag.name] = tag.value; 
      });
      return formObj;
    }
  </script>
</body>
</html>